@use './variables' as v;

#equipoForm{
  background-color: v.$celeste;
  color: v.$color_texto;
  padding: 1rem;
  border-radius: 8px;
  max-width: 50%;
}
#ticketForm{
    background-color: v.$celeste;
    color: v.$color_texto;
    padding: 1rem;
    border-radius: 8px;
    max-width: 50%;
}
#listaEquipos{
  max-width:50%;
}
#listaTickets{
  max-width: 50%;
}

